<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.bawei.baweiproj">

    <application>
        <activity android:name=".mvp.view.activity.RegisterActivity"></activity>
        <activity android:name=".mvp.view.activity.LoginActivity"></activity>
    </application>

</manifest>